<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-image: url('https://i.pinimg.com/736x/e3/5c/4f/e35c4f8dd2ddafb3f4394137a698300b.jpg');
            background-position: center;
            background-size: cover;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }

        form {
            background-color: #fff;
            padding: 10px;
            height: 0%;
            transition: 0.3s all;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 90%;
            overflow: hidden;
            position: relative;

        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        input[type="submit"]:hover {
            background-color: #45a049;
        }

        .comments {
            margin-top: 20px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border: 5px solid #5a5a5a;
            background-color: #d6d6d6;
            border-radius: 10px;
            padding-top: 10px;
            height: 0%;
            width: 90%;
            overflow-y: scroll;
            overflow-x: hidden;
            transition: height 0.3s;
        }

        .comment {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: left;
            margin-bottom: 10px;
            padding: 20px;
            background-color: #f9f9f9;
            border-radius: 4px;
        }

        .toggle-btn {
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 3;
        }

        .toggle-btn:hover {
            background-color: #0056b3;
        }

        .toggle-btn i {
            margin: 0;
        }

        .container {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 310px;
            width: 340px;
            z-index: 3;


        }

        h1 {
            margin-bottom: 20px;
        }

        .screen {
            width: 220px;
            height: 182px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            margin-bottom: 66px;
            background-color: white; 
            
            
        }

        .prize {
            font-size: 2rem;
            font-weight: bold;
            color: #ffffff;
            color: black;
            margin: 10px; 

        }

        #spinButton {
            padding: 10px 20px;
            font-size: 1.2rem;
            background-color: #28a745;
            position: absolute;
            z-index: 3;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            opacity: 0;
        }

        #spinButton:hover {
            background-color: #218838;
        }

        .upperClass {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            width: 80%;
            height: 150px;
            background: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom: 5px solid #5a5a5a;
            border-left: 5px solid #5a5a5a;
            border-right: 5px solid #5a5a5a;
        }
    </style>
</head>

<body>
    <div class="upperClass">
        <div style="display: flex; justify-content: center; align-items: center;">
            <img
                style="margin-right: 10px; width: 70px; height: 70px; border-radius: 50%; background-image: url(<%=currentUser.perfil%>); background-size: cover; background-position: center;">
            <h4>
                <%=currentUser.name%>
            </h4>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <code id="cofre" style="font-size: 15px;">...</code>
            <img src="Token.png" width="28px" height="28px" style="margin-left: 10px;">
        </div>
    </div>
    <div
        style="background-image: url(cassino.png); background-size: cover; background-position: center;  border-radius: 10px; border: 5px solid #5a5a5a;">
        <div class="container">
            <div class="screen" style="background-image: url(screen.gif); background-position: center; background-size: cover;">
                <code class="prize" id="prize"></code>
            </div>
        </div>
    </div>
    <button id="spinButton">Girar</button>
    <div class="subclass"
        style="position: absolute; width: 100%; height: 90%; display: flex; align-items: center; justify-content: end; flex-direction: column; z-index: 1; ">
        <div class="comments" id="comments">
            <!-- Comentários serão adicionados dinamicamente aqui -->
        </div>
        <button class="toggle-btn" id="toggle-btn">
            <i class="fas fa-chevron-up" id="toggle-icon"></i>
        </button>
        <% if (currentUser.name=='Sigma' ){%>
            <form id="form">
                <input type="text" name="name" value="<%=currentUser.name%>" hidden>
                <input type="text" name="text" placeholder="Digite algo...">
                <input type="submit" value="Enviar">
            </form>
            <%}%>
    </div>
    <script>
        let isCommentsVisible = true;
        let commentsLength = 0;

        $(document).ready(function () {
            $('form').submit(function (e) {
                e.preventDefault(); // Impede o envio do formulário padrão
                var formData = $(this).serialize(); // Serializa os dados do formulário
                $.ajax({
                    type: 'POST',
                    url: '/post',
                    data: formData,
                    success: function (response) {
                        console.log(response); // Manipula a resposta do servidor aqui
                        $('form')[0].reset(); // Limpa os campos do formulário
                        setTimeout(() => {
                            document.getElementById("comments").scrollTop = document.getElementById("comments").scrollHeight - document.getElementById("comments").clientHeight;
                        }, 500);
                    },
                    error: function (xhr, status, error) {
                        console.error(error); // Manipula erros de requisição aqui
                    }
                });
            });

            setInterval(() => {
                $.get('/getComments', function (data) {
                    if (data.length > commentsLength) {
                        document.getElementById("comments").scrollTop = document.getElementById("comments").scrollHeight + document.getElementById("comments").clientHeight;
                        commentsLength = data.length;
                    }
                    $('#comments').empty();
                    data.forEach(function (comment) {
                        if (comment.perfil) {
                            $('#comments').append(`<div class="comment" id="comment" style="width: 95%;"><strong style="width: 200px; display: flex; justify-content: left; align-items: center; flex-direction: row;"><img style="width:60px; height:60px; border-radius: 50%; margin-right: 10px; margin-bottom: 5px; margin-top: 5px; background-image: url(${comment.perfil}); background-size: cover; background-position: center;"> ${comment.name} </strong> <code style="margin-bottom: 5px;">${comment.data}</code><strong style="width: 100%;"> ${comment.text}</strong></div>`);
                        }
                    });
                });
            }, 100);

            $('#toggle-btn').click(function () {
                if (isCommentsVisible) {
                    $('.comments').css('height', '80%');
                    $('#form').css('height', 'auto');
                    $('#form').css('padding', '20px');
                    $('#toggle-icon').removeClass('fa-chevron-up').addClass('fa-chevron-down');
                    $('.subclass').css('z-index', 3)
                } else {
                    $('.comments').css('height', '0px');
                    $('#form').css('height', '0%');
                    $('#form').css('padding', '10px');
                    $('#toggle-icon').removeClass('fa-chevron-down').addClass('fa-chevron-up');
                    setTimeout(() => {
                        $('.subclass').css('z-index', 1)
                    }, 400);
                    document.getElementById("comments").scrollTop = document.getElementById("comments").scrollHeight - document.getElementById("comments").clientHeight;
                }
                isCommentsVisible = !isCommentsVisible;
            });

            setTimeout(() => {
                document.getElementById("comments").scrollTop = document.getElementById("comments").scrollHeight - document.getElementById("comments").clientHeight;
            }, 1000);
            document.getElementById('spinButton').addEventListener('click', function () {
                let prize;
                $('#spinButton').css('display', 'none');
                $.get('/getGems', function (data) {
                    if (data != null) {
                        prize = data;
                        const prizeElement = document.getElementById('prize');
                        $('.container').css('background-image', 'url(cassinoON.gif)');
                        setTimeout(() => {
                            $('.screen').css('background-image', 'url(carregamento.gif)')
                        }, 2000);

                        // Simulando um delay para dar a sensação de suspense
                        /* const suspenseImage = document.createElement('img');
                        suspenseImage.src = "https://media1.tenor.com/m/PMNeSVbYjUsAAAAC/one-piece-gild-tesoro.gif";
                        suspenseImage.alt = 'Girando...';
                        suspenseImage.style.width = '100%';  // Tamanho ajustável
                        suspenseImage.style.height = '100%'; // Tamanho ajustável
                        suspenseImage.style.borderRadius = '10px'; // Tamanho ajustável */

                        // Adiciona a imagem ao elemento da premiação
                        prizeElement.textContent = "";
                        //prizeElement.appendChild(suspenseImage);

                        setTimeout(() => {
                            $('.screen').css('background-image', 'none')
                            prizeElement.textContent = prize;
                            $('.container').css('background-image', 'none');
                            $('#spinButton').css('display', 'block');
                        }, 20000);
                    } else {

                    }
                });
            });
            setInterval(() => {
                $.get('/getCofre', function (data) {
                    const cofre = document.getElementById("cofre");
                    cofre.textContent = data;
                });

            }, 1000);
        });
    </script>
</body>

</html>