    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>App</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <style>
            * {
                box-sizing: border-box;
            }

            body {
                font-family: Arial, sans-serif;
                background-color: #f4f4f4;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100vh;
            }

            form {
                background-color: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                width: 90%;
            }

            input[type="text"] {
                width: 100%;
                padding: 10px;
                margin: 8px 0;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            input[type="submit"] {
                background-color: #4CAF50;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                width: 100%;
            }

            input[type="submit"]:hover {
                background-color: #45a049;
            }
            .comments {
                margin-top: 20px;
                border-top: 1px solid #5a5a5a;
                padding-top: 10px;
                height: 80%;
                width: 90%;
                overflow-y: scroll;
                overflow-x: hidden;
            }

            .comment {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: left;
                margin-bottom: 10px;
                padding: 5px;
                background-color: #f9f9f9;
                border-radius: 4px;
            }
        </style>
    </head>

    <body>
        <div class="comments" id="comments">
            <!-- Comentários serão adicionados dinamicamente aqui -->
        </div>
        <form>
            <input type="text" name="name" value="<%=currentUser.name%>" hidden>
            <input type="text" name="perfil" value="<%=currentUser.perfil%>" hidden>
            <input type="text" name="text" placeholder="Digite algo...">
            <input type="submit" value="Enviar">
        </form>
        <!-- Div para exibir os comentários -->
        
    </body>

    <script>
        let ison = false;
        $(document).ready(function(){
            
                $('form').submit(function(e){

                    e.preventDefault(); // Impede o envio do formulário padrão
                    var formData = $(this).serialize(); // Serializa os dados do formulário
                    $.ajax({
                        type: 'POST',
                        url: '/post',
                        data: formData,
                        success: function(response){
                            console.log(response); // Manipula a resposta do servidor aqui
                            // Se desejar fazer algo com a resposta, manipule-a aqui
                            $('form')[0].reset(); // Limpa os campos do formulário
                            document.getElementById("comments").scrollTop = document.getElementById("comments").scrollHeight - document.getElementById("comments").clientHeight;
                        },
                        error: function(xhr, status, error){
                            console.error(error); // Manipula erros de requisição aqui
                        }
                    });
                });
                setInterval(() => {
                    $.get('/getComments', function(data) {
                        $('#comments').empty();
                    data.forEach(function(comment) {
                        $('#comments').append(`<div class="comment" id="comment" style="width: 100%;"><strong style="width: 200px; display: flex; justify-content: left; align-items: center; flex-direction: row;"><img style="width:60px; height:60px; border-radius: 50%; margin: 10px;" src="${comment.perfil}"> ${comment.name} </strong> <code style="margin-bottom: 5px;">${comment.data}</code><strong style="width: 100%;"> ${comment.text}</strong></div>`);
                    });
                    ison = true;
                }); 
               
                }, 100);
                
            });
            setTimeout(() => {
                document.getElementById("comments").scrollTop = document.getElementById("comments").scrollHeight - document.getElementById("comments").clientHeight;
            }, 1000);
    </script>

    </html>